---
---

{% include header.html %}

<div class="container">
	<div class="row">
		<div class="col-md-4 gallery"></div>
		<div class="col-md-4 gallery">
			<img class="img-responsive img-circle" src="images/DSCN0477.JPG">
		</div>
		<div class="col-md-4 gallery"></div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h2>About April's Art</h2>
			<p>Art has always been a major part of my life. When other kids were watching TV, I was making dogs from pipe
				cleaners and cotton batting or drawing horses. I graduated from Mass. College of Art with a dual major in art
				education and crafts. While raising 2 children, I ran a storefront art studio in Marblehead, MA called Hands On! I
				sold house plaques, hand painted pottery and mosaics, and taught clay classes and pottery painting. In 2008, my
				husband and I moved to Maine, to honor my life long dream of having a horse. Now we have a miniature donkey to keep
				the horse company, our 2 dogs, 2 cats, and 9 chickens! I have a small studio building, formerly a wood shop, and I
				am fortunate to work right at home! I enjoy walking in the woods and playing in my vegetable and flower gardens!</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 gallery">
			<img class="img-responsive" src="publishImages/About-Us~~element44.JPG">
		</div>
		<div class="col-md-4 gallery">
			<img class="img-responsive" src="publishImages/About-Us~~element45.JPG">
		</div>
		<div class="col-md-4 gallery">
			<img class="img-responsive" src="publishImages/About-Us~~element48.JPG">
		</div>
	</div>
</div>

{% include footer.html %}