--- 

---

{% include header.html %}

<div class="container gallery">
	<div class="row">
		<div class="col-md-12">
			<h2>Glover School, Marblehead, MA</h2>
			<p>I am working on a large ceramic mural about General John Glover, Marblehead's Revolutionary War Hero</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<img class="img-responsive" src="publishImages/Glover-Mural--In-Process-~~element125.JPG" />
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<img class="img-responsive" src="images/DSCN1557.JPG" />
		</div>
		<div class="col-md-4">
			<img class="img-responsive" src="images/DSCN1558.JPG" />
		</div>
		<div class="col-md-4">
			<img class="img-responsive" src="images/DSCN1560.JPG" />
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<h3>Sculpting tiles and making molds</h3>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<img class="img-responsive" src="images/DSCN4429.JPG" />
		</div>
		<div class="col-md-4">
			<img class="img-responsive" src="images/DSCN4430.JPG" />
		</div>
		<div class="col-md-4">
			<img class="img-responsive" src="images/DSCN4400.JPG" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<img class="img-responsive" src="images/DSCN4417.JPG" />
		</div>
		<div class="col-md-4">
			<img class="img-responsive" src="images/DSCN4418.JPG" />
		</div>
		<div class="col-md-4">
			<img class="img-responsive" src="images/DSCN4424.JPG" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h3>Making tiles in molds, painting them</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<img class="img-responsive" src="images/DSCN4403.JPG" />
		</div>
		<div class="col-md-4">
			<img class="img-responsive" src="images/DSCN4456.JPG" />
		</div>
		<div class="col-md-4">
			<img class="img-responsive" src="images/DSCN4459.JPG" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h3>Completed tiles, painted and glazed</h3>
		</div>
	</div>


	<div class="row">
		<div class="col-md-4">
			<img class="img-responsive" src="images/DSCN4463.JPG" />
		</div>
		<div class="col-md-4">
			<img class="img-responsive" src="images/DSCN4465.JPG" />
		</div>
		<div class="col-md-4">
			<img class="img-responsive" src="publishImages/Glover-Mural--In-Process-~~element84.JPG" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<img class="img-responsive" src="publishImages/Glover-Mural--In-Process-~~element85.JPG" />
		</div>
		<div class="col-md-4">
			<img class="img-responsive" src="images/DSCN4482.JPG" />
		</div>
		<div class="col-md-4">
			<img class="img-responsive" src="images/DSCN4476.JPG" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<img class="img-responsive" src="publishImages/Glover-Mural--In-Process-~~element88.JPG" />
		</div>
		<div class="col-md-4">
			<img class="img-responsive" src="images/DSCN4517.JPG" />
		</div>
		<div class="col-md-4">
			<img class="img-responsive" src="images/DSCN4497.JPG" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<img class="img-responsive" src="images/DSCN4505.JPG" />
		</div>
		<div class="col-md-4">
			<img class="img-responsive" src="images/DSCN4515.JPG" />
		</div>
		<div class="col-md-4">
			<img class="img-responsive" src="images/DSCN4511.JPG" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<img class="img-responsive" src="images/DSCN4568.JPG" />
		</div>
		<div class="col-md-4">
			<img class="img-responsive" src="images/DSCN4571.JPG" />
		</div>
		<div class="col-md-4">
			<img class="img-responsive" src="images/DSCN4566.JPG" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<img class="img-responsive" src="images/DSCN4589.JPG" />
		</div>
		<div class="col-md-4">
			<img class="img-responsive" src="images/DSCN4616.JPG" />
		</div>
		<div class="col-md-4">
			<img class="img-responsive" src="images/DSCN4638.JPG" />
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3">
			<img class="img-responsive" src="publishImages/Glover-Mural--In-Process-~~element112.JPG" />
		</div>
		<div class="col-sm-3">
			<img class="img-responsive" src="publishImages/Glover-Mural--In-Process-~~element113.JPG" />
		</div>
		<div class="col-sm-3">
			<img class="img-responsive" src="publishImages/Glover-Mural--In-Process-~~element115.JPG" />
		</div>
		<div class="col-sm-3">
			<img class="img-responsive" src="publishImages/Glover-Mural--In-Process-~~element116.JPG" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<img class="img-responsive" src="images/DSCN4644.JPG" />
		</div>
		<div class="col-md-4">
			<img class="img-responsive" src="images/DSCN4684.JPG" />
		</div>
		<div class="col-md-4">
			<img class="img-responsive" src="images/DSCN4686.JPG" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<img class="img-responsive" src="images/DSCN4688.JPG" />
		</div>
		<div class="col-md-4">
			<img class="img-responsive" src="publishImages/Glover-Mural--In-Process-~~element118.JPG" />
		</div>
		<div class="col-md-4">
			<img class="img-responsive" src="publishImages/Glover-Mural--In-Process-~~element121.JPG" />
		</div>
	</div>



</div>

{% include footer.html %}