body {
	background-color: #BEC4FD;
	color: #406AB0;
	font-family: 'Comic Sans MS', Arial, Helvetica, sans-serif;
	font-size: 18px;
}

h2 {
	text-align: center;
	font-weight: bold;
}

#header {
	background-color: #427aba;
	border-bottom: 4px solid #6D61BD;
	color: white;
}

#phone {
	text-align: right;
	margin-top: 20px;
}

#links {
	padding: 0 40px 0 40px;
	text-align: center;
}

#header a {
	color: white;
}

#header a:active, #header a:hover {
	color: rgb(237, 175, 205);
	text-decoration: none;
}

#header ul {
	padding: 0 100px 0 100px;
}

#header li {
	display: inline-block;
	padding: 0 20px 10px 20px;
	font-size: large;
}

#welcome {
	color: #000066;
	background-color: #d1e0f2;
	padding: 7px;
	margin-top: 7px;
}

#welcome p {
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 5px;
	font-size: 24px;
}

#welcome img {
	border: 5px solid white;
	box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.50);
	-moz-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.50);
	-webkit-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.50);
}

#plaques {
	margin-top: 15px;
}

#plaques h2 {
	text-align: center;
}

#plaques p {
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 30px;
	font-size: 24px;
}

#footer {
	margin-top: 10px;
	text-align: center;
	color: black;
	font-size: 10px;
	text-align: center;
}

.gallery img {
	margin: 10px;
	border: 2px solid white;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.50);
	-moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.50);
	-webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.50);
}

.gallery .col-md-12 img {
	display: block;
	margin-left: auto;
	margin-right: auto
}

.projects h3 {
	margin-top: 100px;
	margin-bottom: 40px;
	text-align: center;
	color: #000066;
	font-weight: bold;
}