---
---
{% include header.html %}

<div class="container" id="welcome">
	<div class='row'>
		<div class='col-md-6'>
			<h2>Welcome!</h2>
			<p>I paint ceramic house plaques with names, addresses, or numbers in colors and designs personalized for your home! My name is April Frost.</p>
		</div>
		<div class='col-md-6 hidden-sm hidden-xs'>
			<img class="img-responsive" src="publishImages/index~~element32.JPG">
		</div>
	</div>
</div>

<div class="container" id="plaques">
	<div class='row'>
		<div class='col-md-6'>
			<h2>House Plaques</h2>
			<p>House plaques are made from Earthenware clay, in 2 sizes. Lettering is done only on the large size. April hand paints and letters (or numbers) each plaque.</p>

			<p>Plaques can be horizontal or vertical. You choose the design and the colors. Allow 4-6 weeks for painting and firing and 2-10 days, depending on your location, for shipping.</p>
		</div>
		<div class='col-md-6'>
			<div class="container-fluid">
				<div class='row'>
					<div class='col-md-6'>
						<img src="images/DSCN0325.JPG" class="img-responsive">
					</div>
					<div class='col-md-6'>
						<img src="images/DSCN3289.JPG" class="img-responsive">
					</div>
				</div>
				<div class='row'>
					<div class='col-md-6'>
						<img src="images/DSCN1144.JPG" class="img-responsive">
					</div>
					<div class='col-md-6'>
						<img src="images/DSCN0847.JPG" class="img-responsive">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% include footer.html %}