---
---

{% include header.html %}

<div class="container">
	<div class="row">
		<div class="col-md-12">

			<h2>Ordering a Ceramic Address Plaque</h2>

			<ol>

				<li>Choose the design you want from the <a href="photos.html">Plaque Gallery</a>, or e-mail April to discuss
					your idea &mdash; you might want a "special order" of a place or pet.
				</li>

				<li>Decide what you want on your plaque. Name? Number only? Full street address? Think about colors as well. <br>Lettering
					on LARGE size only, smaller plaques are NUMBERS only!
				</li>

				<li>Email or call April to make your order.</li>

			</ol>

			<p>*Orders will not be painted until paid in full. If you decide not to purchase a plaque after working with
				April and having drawings done, you will be charged $10 design fee only. Plaques run from $80 to $120 (and about $60
				for smaller, numbers only, plaques) plus about $10 shipping, depending on the complexity of the design you request.
				Plaques have 2 holes for hanging and come with 2 -1 1/2 inch brass screws and 2 washers.</p>

		</div>
	</div>
</div>

{% include footer.html %}