---
---

{% include header.html %}

<div class="container">
	<div class="row">
		<div class='col-md-3'>
			<h2>Photo Gallery</h2>
			<p>These are some sample house plaques. Colors and designs can all be
				changed according to your wishes. I really enjoy working with you to make
				something special and personal! The variety definitely keeps it fun and
				exciting for me!</p>
		</div>
		<div class='col-md-9'>
			<div class="container-fluid gallery">
				<div class="row">
					<div class='col-md-4'>
						<img class="img-responsive" src="images/DSCN0271.JPG" />
					</div>
					<div class='col-md-4'>
						<img class="img-responsive" src="images/DSCN0393.JPG" />
					</div>
					<div class='col-md-4'>
						<img class="img-responsive" src="images/DSCN0581.JPG" />
					</div>
				</div>
				<div class="row">
					<div class='col-md-4'>
						<img class="img-responsive" src="images/Products~~element84.JPG" />
					</div>
					<div class='col-md-4'>
						<img class="img-responsive" src="images/Products~~element85.JPG" />
					</div>
					<div class='col-md-4'>
						<img class="img-responsive" src="images/Products~~element80.JPG" />
					</div>
				</div>

				<div class="row">
					<div class='col-md-3'>
						<img class="img-responsive" src="images/DSCN0851.JPG" />

					</div>
					<div class='col-md-3'>
						<img class="img-responsive" src="images/Products~~element88.JPG" />
					</div>
					<div class='col-md-3'>
						<img class="img-responsive" src="images/DSCN0722.JPG" />
					</div>
					<div class='col-md-3'>
						<img class="img-responsive" src="images/Products~~element90.JPG" />
					</div>
				</div>

				<div class="row">
					<div class='col-md-4'>
						<img class="img-responsive" src="images/DSCN3720.JPG" />
					</div>
					<div class='col-md-4'>
						<img class="img-responsive" src="images/DSCN3721.JPG" />
					</div>
					<div class='col-md-4'>
						<img class="img-responsive" src="images/DSCN0742.JPG" />
					</div>
				</div>
				<div class="row">
					<div class='col-md-4'>
						<img class="img-responsive" src="images/DSCN3937.JPG" />
					</div>
					<div class='col-md-4'>
						<img class="img-responsive" src="images/DSCN0454.JPG" />
					</div>
					<div class='col-md-4'>
						<img class="img-responsive" src="images/DSCN0849.JPG" />
					</div>
				</div>
				<div class="row">
					<div class='col-md-4'></div>
					<div class='col-md-4'>
						<img class="img-responsive" src="images/IMG_1845.JPG" />
					</div>
					<div class='col-md-4'></div>
				</div>

			</div>
		</div>
	</div>
</div>

{% include footer.html %}