---
---

{% include header.html %}

<div class="container">
	<div class="row">
		<div class="col-md-8">
			<h2>The Process</h2>
			<p>
				Each oval house plaque begins when earthenware SLIP (watered down clay)
				is poured into a hand made plaster mold.  The clay dries out and the plaque
				is carefully removed and dried for several days.  Once dry, the plaques
				are sanded and sponged smooth.  At this point, the design and lettering
				are sketched on.  April paints each plaque with UNDERGLAZES, a paint made
				from clay and pigments or oxides.
			</p>
			<p>
				After they are painted, the plaques are BISQUE fired in the KILN and the
				clay turns from gray to white and becomes hard.  The pieces are cooled
				slowly and then brushed with a clear GLAZE.  Then into the kiln again to
				fire the glaze, which is  a glossy, clear, glass-like layer.   The finished
				plaques vary a little in size.  The large are 12-13" x 9" and the small are
				8.5-9" x 7" approximately.   Each plaque is unique, a special, one of a
				kind piece! 
			</p>
		</div>
		<div class="col-md-4 gallery">
			<img src="publishImages/Clients~~element52.JPG">
			<img src="publishImages/Clients~~element54.JPG">
			<img src="publishImages/Clients~~element53.JPG">
		</div>
	</div>
</div>


{% include footer.html %}