--- --- {% include header.html %}


<div class="container projects">
	<div class="row">
		<div class="col-md-12">
			<h2>Other Art Projects</h2>
			<p>Along with making ceramic house plaques, I enjoy doing art in other mediums. I create large and small scale
				mosaic and tile projects, painting, and fabric projects. Lately I have played with felting and monoprinting on clay.
				I thought it would be fun to include a page of mixed media projects. Please feel free to e-mail if you see something
				here you think might be up your alley!</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<h3>Marblehead High School, Marblehead, MA, mosaic mural, "What We Find in the Sea" 2001.</h3>
		</div>
	</div>
	<div class="row gallery">
		<div class="col-md-12">
			<img class="img-responsive" src="images/IMG_0790-1.jpg" />
		</div>
		<div class="col-md-4">
			<img class="img-responsive" src="images/IMG_0791.jpg" />
		</div>
		<div class="col-md-4">
			<img class="img-responsive" src="images/IMG_0792.jpg" />
		</div>
		<div class="col-md-4">
			<img class="img-responsive" src="images/IMG_0793-1.jpg" />
		</div>
	</div>


	<div class="row">
		<div class="col-md-12">
			<h3>Bell School, Marblehead, MA Residency with Fourth Graders (details)</h3>
		</div>
	</div>
	<div class="row gallery">
		<div class="col-md-9">

			<img class="img-responsive" src="images/IMG_0784.jpg" />
		</div>
		<div class="col-md-3">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<img class="img-responsive" src="images/IMG_0783.jpg" />
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<img class="img-responsive" src="publishImages/Other-Art-Projects~~element61.jpg" />
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-md-12">
			<h3>Eveleth School, Marblehead, MA, Residency with second graders (details)</h3>
		</div>
	</div>
	<div class="row gallery">
		<div class="col-md-6">
			<img class="img-responsive" src="publishImages/Other-Art-Projects~~element62.jpg" />
		</div>
		<div class="col-md-6">
			<img class="img-responsive" src="images/IMG_0814.jpg" />
		</div>
	</div>


	<div class="row">
		<div class="col-md-12">
			<h3>Glover School, Marblehead, MA, Residency with third graders (details)</h3>
		</div>
	</div>
	<div class="row gallery">
		<div class="col-md-9">
			<img class="img-responsive" src="images/IMG_0802-1.jpg" />
		</div>
		<div class="col-md-3">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<img class="img-responsive" src="images/IMG_0795.jpg" />
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<img class="img-responsive" src="publishImages/Other-Art-Projects~~element66.jpg" />
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<h3>"Marblehead Regiment," Veteran's Memorial Middle School, Marblehead, MA, by April Frost and Patti O'Hare
				Williams</h3>
		</div>
	</div>
	<div class="row gallery">
		<div class="col-md-9">
			<img class="img-responsive" src="images/IMG_0778.jpg" />
		</div>
	</div>


	<div class="row">
		<div class="col-md-12">
			<h3>"Peace Be To This House," Hospice House of the North Shore, Danvers, MA</h3>
		</div>
	</div>
	<div class="row gallery">
		<div class="col-md-6">
			<img class="img-responsive" src="images/IMG_0770.jpg" />
		</div>
		<div class="col-md-6">
			<img class="img-responsive" src="publishImages/Other-Art-Projects~~element72.jpg" />
		</div>
	</div>



	<div class="row">
		<div class="col-md-12">
			<h3>This &amp; That</h3>
		</div>
	</div>
	<div class="row gallery">
		<div class="col-md-4">
			<img class="img-responsive" src="images/DSCN2375.JPG" />
		</div>
		<div class="col-md-4">

			<img class="img-responsive" src="images/DSCN2367.JPG" />
		</div>
		<div class="col-md-4">

			<img class="img-responsive" src="images/DSCN0661.JPG" />
		</div>
	</div>
	<div class="row gallery">
		<div class="col-md-4">
			<img class="img-responsive" src="publishImages/Other-Art-Projects~~element75.JPG" />
		</div>
		<div class="col-md-4">
			<img class="img-responsive" src="images/DSCN0249.JPG" />
		</div>
		<div class="col-md-4">
			<img class="img-responsive" src="images/IMG_1842.JPG" />
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<h3>Painted Mural</h3>
		</div>
	</div>
	<div class="row gallery">
		<div class="col-md-6">
			<img class="img-responsive" src="images/IMG_1998.JPG" />
		</div>
		<div class="col-md-6">
			<img class="img-responsive" src="images/IMG_2005.JPG" />
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<h3>Playing with Cement....Cement Carving and Cast Leaves</h3>
		</div>
	</div>
	<div class="row gallery">
		<div class="col-md-6">
			<img class="img-responsive" src="images/DSCN0506.JPG" />
		</div>
		<div class="col-md-6">
			<img class="img-responsive" src="images/DSCN0614.JPG" />
		</div>
	</div>


	<div class="row">
		<div class="col-md-12">
			<h3>Painted Rug</h3>
		</div>
	</div>
	<div class="row gallery">
		<div class="col-md-12">
			<img class="img-responsive" src="images/DSCN0235.JPG" />
		</div>
	</div>


	<div class="row">
		<div class="col-md-12">
			<h3>Felted Dog</h3>
		</div>
	</div>
	<div class="row gallery">
		<div class="col-md-12">
			<img class="img-responsive" src="images/DSCN3904.JPG" />
		</div>
	</div>


	<div class="row">
		<div class="col-md-12">
			<h3>Fun with Wool Applique</h3>
		</div>
	</div>
	<div class="row gallery">
		<div class="col-md-4">
			<img class="img-responsive" src="images/DSCN4087.JPG" />
		</div>
		<div class="col-md-4">
			<img class="img-responsive" src="images/DSCN3993.JPG" />
		</div>
		<div class="col-md-4">
			<img class="img-responsive" src="images/DSCN3966.JPG" />
		</div>
	</div>
	<div class="row gallery">
		<div class="col-md-3">
			<img class="img-responsive" src="images/DSCN4002.JPG" />
		</div>
		<div class="col-md-3">
			<img class="img-responsive" src="images/DSCN4005.JPG" />
		</div>
		<div class="col-md-3">
			<img class="img-responsive" src="images/DSCN4083.JPG" />
		</div>
		<div class="col-md-3">
			<img class="img-responsive" src="images/DSCN3994.JPG" />
		</div>
	</div>



	<div class="row">
		<div class="col-md-12">
			<h3>Experiments with glass mosaic</h3>
		</div>
	</div>
	<div class="row gallery">
		<div class="col-md-6">
			<img class="img-responsive" src="images/DSCN0981.JPG" />
		</div>
		<div class="col-md-6">
			<img class="img-responsive" src="images/DSCN0979.JPG" />
		</div>
	</div>
	<div class="row gallery">
		<div class="col-md-4">
			<img class="img-responsive" src="images/10846357_10203273842075020_1417050594222175192_n.jpg" />
		</div>
		<div class="col-md-4">
			<img class="img-responsive" src="images/10353175_10203285040754980_7839230084543573860_n-2.jpg" />
		</div>
		<div class="col-md-4">
			<img class="img-responsive" src="images/1965010_10203285037834907_5009836999350177271_n-2.jpg" />
		</div>
	</div>

	<div class="row gallery">
		<div class="col-md-4">
			<img class="img-responsive" src="images/1908160_10203307769403182_6536676524901886893_n.jpg" />
		</div>
		<div class="col-md-4">
			<img class="img-responsive" src="images/10350551_10203307769723190_8959285433076357171_n.jpg" />
		</div>
		<div class="col-md-4">
			<img class="img-responsive" src="images/10390919_10203307770163201_3980636788438536106_n.jpg" />
		</div>
	</div>

</div>


{% include footer.html %}
