---

---

{% include header.html %}


<div class="container">

	<div class="row">
		<div class="col-md-12">
			<h2>The Studio</h2>
		</div>
	</div>
	<div class="row gallery">
		<div class="col-md-8">
			<img class="img-responsive" src="images/DSCN3930.JPG">
		</div>
		<div class="col-md-4">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<img class="img-responsive" src="images/DSCN3933.JPG">
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<img class="img-responsive" src="images/DSCN3936.JPG">
					</div>
				</div>
			</div>
		</div>
	</div>

</div>


{% include footer.html %}
