<form action="//formspree.io/bkuker@billkuker.com" id="contact">
	<h3>Request Information</h3>
	<input type="text" name="_gotcha" style="display: none" />

	<label for="name">Name:</label>
	<input type="text" name="name" id="name">
	<br>

	<label for="_replyto">Email:</label>
	<input type="email" name="_replyto" id="_replyto">
	<br>

	<label for="phone">Phone:</label>
	<input type="text" name="phone" id="contactPhone">
	<br>

	<label for="body">Request:</label>
	<br>
	<textarea name="body"></textarea>
	<br>
	<input type="submit" value="Send">
</form>